:root{
    --block-width: 1200px;
    --margin-inline: 200px;

    --center-inline: auto;
    --center-block: auto;

    --color-gray: #838383;
    --color-darck: #1D1D1F;
    --color-white: #FFFFFF;
}